{% extends 'base_site.html' %}
{% block title %} {{ page_title }} {% endblock title %}

{% block content %}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <a href="{% url 'datamaster' %}"><span class="text-uppercase page-subtitle">Data Master</span></a> ->
        <span class="text-uppercase page-subtitle">Distrik</span>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Data Distrik</h6>
            </div>
            <div class="card-body p-0 pb-3">
                <table class="table mb-0">
                    <thead class="bg-light">
                        <tr class="small">
                            <th scope="col" class="border-0">No</th>
                            <th scope="col" class="border-0">Distrik</th>
                            <th scope="col" class="border-0">Ka Distrik</th>
                            <th scope="col" class="border-0">Sek Distrik</th>
                            <th scope="col" class="border-0">Kontak Kadis</th>
                            <th scope="col" class="border-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in distrik %}
                        <tr class="small">
                            <td>{{ forloop.counter }}</td>
                            <td><strong> {{ items.nama_distrik }} </strong></td>
                            <td>{{ items.kadis }}</td>
                            <td>{{ items.sekdis }}</td>
                            <td>{{ items.kontak_kadis }}</td>
                            <td class="small">
                                <a class="mb-2 btn btn-sm btn-outline-primary mr-1" href="#" title="Edit"><i class="fa fa-edit"></i></a>
                                <a class="mb-2 btn btn-sm btn-outline-danger mr-1" href="#" title="Hapus"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}